interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thousandeyes.com/v6/tests/2151895.json
  response:
    body:
      string:
        test:
        - agents:
          - agentId: 3
            agentName: Singapore
            agentType: Cloud
            countryId: SG
            ipAddresses:
            - 202.150.211.171
            location: Singapore
            network: NewMedia Express Pte Ltd. Singapore Web Hosting Service Provider
              (AS 38001)
            prefix: 202.150.211.0/24
          - agentId: 66
            agentName: Ashburn, VA
            agentType: Cloud
            countryId: US
            ipAddresses:
            - 192.243.59.175
            - 2a02:b48:20b:1::11:14
            location: Ashburn Area
            network: ADVANCEDHOSTERS LIMITED (AS 39572)
            prefix: 192.243.48.0/20
          - agentId: 1619
            agentName: Dublin, Ireland
            agentType: Cloud
            countryId: IE
            ipAddresses:
            - 84.207.211.229
            - 2001:4d40:4003::11:6
            location: Ireland
            network: European Backbone of LambdaNet (AS 13237)
            prefix: 84.207.0.0/16
          - agentId: 56283
            agentName: Dublin, Ireland (AWS eu-west-1)
            agentType: Cloud
            countryId: IE
            ipAddresses:
            - 10.10.0.198
            location: Ireland
            network: Amazon.com, Inc. (AS 16509)
            prefix: 54.171.0.0/16
            publicIpAddresses:
            - 34.248.18.46
          - agentId: 233101
            agentName: CiscoDMZ,rzhu,NC,USA
            agentType: Enterprise
            countryId: US
            ipAddresses:
            - 10.1.48.190
            location: North Carolina
            network: Cisco Systems, Inc. (AS 109)
            prefix: 173.38.0.0/17
            publicIpAddresses:
            - 173.38.117.196
          - agentId: 293151
            agentName: NC_RTP10_A&I-DMZ
            agentType: Enterprise
            countryId: US
            ipAddresses:
            - 10.3.14.215
            location: United States
            network: MCNC (AS 81)
            prefix: 152.22.0.0/16
            publicIpAddresses:
            - 152.22.241.194
          alertRules:
          - alertType: Page Load
            expression: '[(locationId in {"3", "1619", "56283", "66", "233101", "293151"})]((pageLoadTimedOut
              == true) || (onLoadTime >= 5000 ms))'
            minimumSources: 1
            roundsViolatingMode: ANY
            roundsViolatingOutOf: 1
            roundsViolatingRequired: 1
            ruleId: 1543906
            ruleName: ACME_Page_load_Alert
          alertsEnabled: 1
          apiLinks:
          - href: https://api.thousandeyes.com/v6/tests/2151895
            rel: self
          - href: https://api.thousandeyes.com/v6/web/http-server/2151895
            rel: data
          - href: https://api.thousandeyes.com/v6/web/page-load/2151895
            rel: data
          - href: https://api.thousandeyes.com/v6/net/metrics/2151895
            rel: data
          - href: https://api.thousandeyes.com/v6/net/path-vis/2151895
            rel: data
          - href: https://api.thousandeyes.com/v6/net/bgp-metrics/2151895
            rel: data
          authType: NONE
          bandwidthMeasurements: 0
          bgpMeasurements: 1
          bgpMonitors:
          - countryId: SE
            ipAddress: 62.115.128.183
            monitorId: 16896
            monitorName: Telia - 8 (AS 1299)
            monitorType: Public
            network: TeliaNet Global Network (AS 1299)
          - countryId: BR
            ipAddress: 2001:12f8:0:2::53:106
            monitorId: 11266
            monitorName: Brazil-110
            monitorType: Public
            network: WEBFOCO TELECOMUNICACOES LTDA (AS 52720)
          - countryId: US
            ipAddress: 12.0.1.63
            monitorId: 3
            monitorName: New York, NY-1
            monitorType: Public
            network: AT&T Services, Inc. (AS 7018)
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.thousandeyes.com/v6/alerts/84605950.json
  response:
    body:
      string:
        alert:
        - active: 0
          agents:
          - active: 0
            agentId: 3
            agentName: Singapore
            dateEnd: '2021-07-09 12:56:38'
            dateStart: '2021-07-09 12:51:47'
            metricsAtEnd: 'Page Load timed out: false, Page Load Time: 2,437 ms'
            metricsAtStart: 'Page Load Time: 5,981 ms'
            permalink: https://app.thousandeyes.com/alerts/list/?__a=221591&alertId=84605950&agentId=3
          alertId: 84605950
          apiLinks:
          - href: https://api.thousandeyes.com/v6/tests/2151895
            rel: related
          - href: https://api.thousandeyes.com/v6/web/page-load/2151895
            rel: data
          dateEnd: '2021-07-09 12:56:38'
          dateStart: '2021-07-09 12:51:47'
          permalink: https://app.thousandeyes.com/alerts/list/?__a=221591&alertId=84605950
          ruleExpression: '[(locationId in {"3", "1619", "56283", "66", "233101",
            "293151"})]((pageLoadTimedOut == true) || (onLoadTime >= 5000 ms))'
          ruleId: 1543906
          ruleName: ACME_Page_load_Alert
          testId: 2151895
          testName: ACME_Page_load
          type: Page Load
          violationCount: 1
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
